{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container-fluid index-container">
        <div class="row index-container d-flex align-items-center">
            <div class="col-12 d-flex justify-content-center">
                <a href="piano.html">
                    <h1 class="begin">BEGIN</h1>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
