{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container-fluid index-container">
        <div class="row index-container d-flex align-items-center">
            <div class="col-12 d-flex justify-content-center">
                <a class="link-container" href="{{ path("app_synth_index") }}">
                    <h1 class="begin user-select-none">BEGIN</h1>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
