{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container h-75 mt-3 mb-5 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="main-title-container col-12 d-flex align-items-center justify-content-center">
                <h1 class="main-title">Admin</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6 card bg-primary bg-opacity-25 semitransparent p-5">
                            <a class="btn btn-danger btn-lg text-blue m-3"
                               href="{{ path('app_admin_tracks') }}">Tracks</a>
                            <a class="btn btn-danger btn-lg text-blue m-3"
                               href="{{ path('app_admin_users') }}">Users</a>
                            <a class="btn btn-danger btn-lg text-blue m-3" href="{{ path('app_logout') }}">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
