{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

    <div data-controller="blur"
         class="container login-container d-flex align-items-center animate__animated animate__zoomIn">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-6">
                <div class="card bg-dark pink-shadow">
                    <img src="{{ asset("build/images/login.jpeg") }}" class="card-img-top" alt="...">
                    <div class="card-body">

                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="container">
                            <div class="row d-flex justify-content-center">
                                <div class="col-10">
                                    <form action="{{ path('app_login') }}" method="post">
                                        <label for="username" class="form-label text-green">Email:</label>
                                        <input class="form-control bg-dark text-green" type="text" id="username"
                                               name="_username"/>

                                        <label for="password" class="form-label text-green">Password:</label>
                                        <input class="form-control bg-dark text-green" type="password" id="password"
                                               name="_password"/>

                                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}">

                                        <button class="btn btn-primary" type="submit">Login</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
