@font-face {
  font-family: "Lazer84";
  src: url("../fonts/Lazer84.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: url("../images/bg.jpg") fixed center center;
}

a {
  text-decoration: none;
}

//////////////////// GLOBAL
#logo {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 10px;
  top: 10px;
  // TODO: add shadow?
}

//////////////////// HOME PAGE
.link-container {
  text-decoration: none;
}

.begin {
  font-family: "Lazer84";
  font-size: 80pt;
  color: #ffffff;
  text-shadow: 0 0 15px #fff, 0 0 20px #ff00f9, 0 0 30px #ff00f9,
  0 0 40px #ff00f9, 0 0 55px #ff00f9, 0 0 75px #ff00f9;
}

.begin:hover {
  text-shadow: 0 0 15px #fff, 0 0 20px #00e9ff, 0 0 30px #00e9ff,
  0 0 40px #00e9ff, 0 0 55px #00e9ff, 0 0 75px #00e9ff;
}

.index-container {
  min-height: 65vh;
}
