<div
        class="modal fade"
        id="roadmapModal"
        tabindex="-1"
        aria-labelledby="roadmapLabel"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-dark pink-shadow text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="roadmapLabel">Roadmap, hypothetical improvements</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>MIDI integration (best case scenario)</li>
                    <li>Timing for notes (worst case scenario)</li>
                    <li>Many CSS fixes (especially the navbar, which doesn't look good</li>
                    <li>Ability to play multiple notes at once: will be pretty hard ngl (I don't see how it would be
                        possible on the picture side alone)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
