<div
        class="modal fade"
        id="infoModal"
        tabindex="-1"
        aria-labelledby="infoModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-primary bg-opacity-50 semitransparent pink-shadow text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">NK ULTRA's Shitty Synth Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    This is a barely functioning synth coded with JavaScript and Web
                    Audio API.
                </p>
                <p>
                    It is playable using the keys of your keyboard or by simply
                    clicking each key (touch works on mobile).
                </p>
                <p>
                    It isn't a good synth nor does it work without issues. The main
                    ones being that *click* sound happening at the end of each tone
                    and the lack of ability to switch from one tone to another
                    efficiently.
                </p>
                <p>
                    Please keep in mind that it's been developed in two days and is
                    very much a WIP.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Got it</button>
            </div>
        </div>
    </div>
</div>
